<div class="p-comment__item">
  <p><%= simple_format(comment.comment) %></p>
  <div class="p-comment__bottomLine d-flex flex-row justify-content-end">
    <span><%= comment.user.name %></span>
    <span><%= comment.created_at.to_s(:datetime_jp) %></span>
    <span style="width : 30px">
    <% if current_user && comment.user_id == current_user.id %>
      <%= link_to '削除', comment, method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
    <% end %>
    </span>
  </div>
</div>
